version: "3.8"
services:
  neo4j:
    image: neo4j:5.17
    container_name: neo4j
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_apoc_export_file_enabled=true
      - NEO4JLABS_PLUGINS=["graph-data-science"]
    ports:
      - "7474:7474"
      - "7687:7687"
 